<h1 id="kosmo">Kosmo</h1>
<h2 id="mm-front-panel">50mm Front Panel</h2>
<p>This project template is the basis of an 25mm front panel PCB in the Kosmo format (<a href="https://lookmumnocomputer.com/">LMNC</a>), for more info, see <a href="https://lookmumnocomputer.discourse.group/t/kosmo-specification/">the spec thread</a>.</p>
<p>Board Dimensions: 200mm x 50mm</p>
<p>The board outline looks like the following:</p>
<figure>
<img src="brd.png" alt="brd.png" /><figcaption>brd.png</figcaption>
</figure>
